    <div class="overview sections">
        <h1 class="res-section-title">Objective</h1>
        <p>
            I am Drupal/Front End web developer with interest in interactions and a penchant for cohesive design/experience.
            My goal is to approach all work with a inventive mind and constructive energy. I am currently interested in the following technologies; snap.svg/d3.js,
            middleman, Bourbon/Neat Sass, and backbone.js.
        </p>
    </div>
    <div class="experience sections">
        <h1 class="res-section-title">Work Experience</h1>
        <ul class="item-list item-list--exp">
            <li class="item item--exp">
                <h3 class="item-heading item-heading--exp">
                    Sr. Drupal/Front End Developer | Digital Bungalow
                </h3>
                <h4 class = "item-dates item-dates--exp">
                    August 2014 - Present (9 months)
                </h4>
                <p class="item-body item-body--exp">
                    Integrate front-end prototypes into Drupal/CoreDNA cms for enterprise level clients.
                    Prototype visual designs using front end technologies including; bourbon, and neat (sass/compass),
                    middleman (embedded ruby templates and static site generator), as well as js (mv*, custom, and library assisted).
                    Give estimates, and act as sales engineer. Mentor Junior developers and guide them through tasks. Continue Drupal work.
                </p>
            </li>
            <li class="item item--exp">
                <h3 class="item-heading item-heading--exp">
                    Drupal/Front End Developer | Digital Bungalow
                </h3>
                <h4 class = "item-dates item-dates--exp">
                    August 2012 - Present (2 years 9 months)
                </h4>
                <p class="item-body item-body--exp">
                    Building commercial website for various clients on Drupal. This includes creating custom modules, and
                    themes, as well as module/site configurations and integrations.
                </p>
            </li>
            <li class="item item--exp">
                <h3 class="item-heading item-heading--exp">
                    Sr. Admissions Counselor, NH, ME, VT | Gordon College
                </h3>
                <h4 class = "item-dates item-dates--exp">
                    May 2012 - September 2012 (5 months)
                </h4>
                <p class="item-body item-body--exp">
                    Member of Salesforce implementation team. Aided in the hiring of new Admissions Counselors.
                    Responsible for meeting Freshman Recruitment goals from Vermont, Maine, and New Hampshire.
                    Developing territory strategies from Historical, and Demographic Trends. Managed 300+ applicants
                    (weekly phone contact, constant email engagement, and financial aid counsel). Conducted 500+
                    applicant interviews. Responsible planning and management of logistics and operation of Street Team
                    Marketing initiative (reached approx. 14,000 music festival goers).
                </p>
            </li>
            <li class="item item--exp">
                <h3 class="item-heading item-heading--exp">
                    Admissions Counselor, NH, ME, VT | Gordon College
                </h3>
                <h4 class = "item-dates item-dates--exp">
                    July 2010 - June 2012 (2 years)
                </h4>
                <p class="item-body item-body--exp">
                    Responsible for meeting Freshman Recruitment goals from Vermont, Maine, and New Hampshire.
                    Cultivated a pool of 1930 application inquires. Managed 300+ applicants (weekly phone contact,
                    constant email engagement, and financial aid counsel).
                    Conducted 500+ applicant interviews.
                </p>
            </li>
        </ul>
    </div>
    <div class="res-skills sections">
        <h1 class="res-section-title">Technologies Used (to name a few)</h1>
          <ul>
              <li>Git</li>
              <li>PHP</li>
              <li>Backbone.js</li>
              <li>Jasmine.js</li>
              <li>Paypal Integration</li>
              <li>Yesmail Integration</li>
              <li>SASS</li>
              <li>LESS</li>
              <li>COMPASS</li>
              <li>Middleman</li>
              <li>Drupal</li>
              <li>Snap.svg</li>
              <li>D3.js</li>
              <li>Mustache.js</li>
              <li>Google Analytics</li>
          </ul>

    </div>
    <div class="education sections">
        <h1 class="res-section-title">Education</h1>
        <h3 class="item-heading">Gordon College</h3>
        <p class = "item-body item-body--exp">
            BA, English Literature, Visual Art, 2005 - 2009
            Activities and Societies: Editor and Producer of The Ottoman Estate, Campus Events Council
        </p>
    </div>